.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  padding: 10px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-red;
  background-color: $color-red;
  color: #fff;
  font-family: $font-poppins_medium;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  min-width: 200px;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    border-color: $color-red-dark;
    background-color: $color-red-dark;
  }
  
  &:active {
    background-color: darken($color-gray-10, 5%);
  }
}

.btn_transparent {
  background-color: transparent;
  border: 0;
  color: $color-red;
    &:hover,
    &:focus {
      color: #000;
      border-color: transparent;
      background-color: transparent;
    }
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}