.header {
  @extend .layout-padding;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  transition: all 0.2s;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
}

.header_sticky {
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.03);
  transition: all 0.2s;
}

.header__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.menu_header {
  width: auto;
  display: flex;
  align-items: center;
}

.logo {
  img {
    width: 180px;
  }
}

.header_visible {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.4s;
}