@media (max-width: 640px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
  h2 {
    font-size: 24px;
  }
  .btn {
    width: 100%;
  }
  .hero {
    min-height: 600px;
    padding: 0 20px;
  }
  .hero__inner_title {
    width: 100%;
    max-width: 100%;
    margin-top: 80px;
  }
  .hero:after {
    background-image: url('../img/mobile_bg.png');
  }
  .hero__inner_title {
    .buttons {
      .btn {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
  .header {
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo img {
    display: block;
    width: 140px;
  }
  .slider__inner_slide-box {
    padding-left: 40px;
    padding-top: 60px;
  }
  .slider__inner_slide-box .quote {
    font-size: 14px;
    line-height: 22px;
  }
  .slider__inner_slide-box .person_photo {
    width: auto;
    height: auto;
    margin-right: 20px;
  }
  .slider {
    padding: 0;
  }
  .cases .page__item_inner {
    flex-direction: column;
    .left {
      width: 100%;
      margin-right: 0;
    }
    .right {
      width: 100%;
    }
  }
  .partners_box-item {
    width: calc(33.333% - 22px);
    justify-content: center;
    margin-right: 32px;
      img {
        max-width: 100%;
        max-height: 50px;
      }

    &:nth-child(4n+4) {
      margin-right: 32px;
    }
    &:nth-child(7n+7) {
      margin-right: 32px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .team_box-item {
    width: 100%;
    margin-right: 0;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }
  .become_box-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .map_box .page__inner .page__item {
    padding-left: 0;
    padding-right: 0;
  }
  .vision_box .page__item .right .layers .bg {
    left: 20%;
  }
  .map_box .page__inner .page__item .right {
    overflow-X: auto;
    height: auto;
  }
  .map_box .page__inner .page__item .left {
    padding: 0 20px;
    padding-right: 20px !important;
  }
  .case_slider {
    padding: 0;
  }

  .footer {
    padding: 0;
      &__inner {
        padding-top: 16px;
          .left {
            padding-left: 20px;
          }
      }
  }
  .footer__inner .impressum {
    margin-top: 16px;
  }

  .map_box {
    .right {
      display: none;
    }
  }
  .buttons {
    flex-direction: column;
  }
  .vision_box .page__item .right .layers .bg .three .hint {
    top: -75%;
    bottom: auto;
    right: 120%;
    left: auto;
    min-width: 220px;
    &:after {
      top: 50%;
      left: auto;
      bottom: auto;
      right: -14px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  .vision_box .page__item .right .layers .bg .one .hint {
    left: -50%;
    right: auto;
    bottom: 120%;
    &:after {
      right: auto;
      left: 60px;
    }
  }
  .vision_box .page__item .right .layers .bg .two .hint {
    top: auto;
    bottom: 120%;
    right: 0;
    min-width: 220px;
    left: auto;
    &:after {
      top: auto;
      right: 20px;
      bottom: -9px;
      left: auto;
      border-bottom: 0;
      border-top: 10px solid #fff;
    }
  }
}